@import url("https://use.typekit.net/zpu1oiv.css");

#root {
  font-family: droid-sans, sans-serif;
  justify-items: center;
  align-content: space-between;
  display: grid;
  grid-template-columns:  auto% auto% auto% auto% auto% ;
  grid-template-rows: 10% auto;
  grid-template-areas:"nav nav nav nav Lsidebar"
                      ". main main main Lsidebar "
                      ". main main main . "
                      ". footer footer footer . "; 
}

nav {
  grid-area: nav;
  display: flex;
  margin: 1rem;
  margin-bottom: 3rem;
}
main {
  grid-area: main;
}
img {
  min-height: 100px;
  height: 50%;
  grid-area: Lsidebar;
  padding: 4px;
  border-radius: 50% ;
}
.potties {
  padding-bottom: 1rem;
}
.potties-form {

}

.potty-card {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}

h1 {
  font-family: droid-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-area: nav;
}

.rsidebar-content{
  padding-left: 2rem;
  grid-area: rsidebar;
}
button, input[type=submit] {
    display: inline-block;
    border: none;
    padding: .5rem 1rem;
    margin: 1px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

button:hover,
button:focus {
    background: #0053ba;
}


input[type=radio] {
  font-size: 1.35em;
  padding: 25px;
  margin-left: 10px;
  cursor: pointer;
}

input[type=submit]{
  margin-bottom: 7px;
  margin-left: 5px
}


form {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: lightgray;
}
 form p {
 margin-left: 10px;
}
