button, input[type="submit"]{
    border-radius: 5px; 
    margin-left: 5px;
}
.btn{
    background-color: #a98274;

}
header{
    height: 5%;
    background-color: #4b2c20;
}
form, .potty-card {
    margin-top: 5px;
    padding: 1rem;
    /* border: solid;  
    border-width: thin;
    border-radius: 5px;
    border-color: lightgray; */
}

input {
    margin-left: 5px;
}

nav.navbar {
   background-color: #795548

   ;
   color: white;
    
}

.input-group-text{
    display: inline;
    background: none;
    border: none
}